<div <%= "class=\"#{@doc_def['div_class']}\"" if @doc_def['div_class']%> >
  <label <%= "class=\"#{@doc_def['label_class']}\"" if @doc_def['label_class']%> ><%=@doc_def['label']%></label>
  <input
    type="checkbox"
    <%= "name=\"#{@doc_def['name']}\"" if @doc_def['name'] %>
    <% if @doc_def['value'] %>
      <%= "checked" if @doc_def['value'] == 'true' %>
    <% else %>
      <%= "checked" if @doc_def['default_value'] %>
    <% end %>/>
</div>