<div data-role="page"
     <%= "data-id=\"#{@doc_def['page_id']}\"" if @doc_def['page_id'] %>
     <%= "class=\"#{@doc_def['page_class']}\"" if @doc_def['page_class'] %>
>
  <div data-role="header" data-position="inline">
    <h1><%= @doc_def["title"] %></h1>

    <% if @doc_def["left_btn_text"] || @doc_def["left_btn_is_back"] %>
        <a href="<%= @doc_def["left_btn_uri"] %>"
           class="<%= @doc_def["left_btn_class"] || "ui-btn-left" %>"
           data-icon="<%= @doc_def["left_btn_icon"] || "back" %>"
           data-direction="<%= @doc_def["left_btn_direction"] || "reverse" %>"
           <%= "data-rel=\"back\"" if @doc_def["left_btn_is_back"] %>
        >
          <%= @doc_def["left_btn_text"] || "Back" %>
        </a>
    <% end %>

    <% if @doc_def["right_btn_text"] %>
        <a href="<%= @doc_def["right_btn_uri"] %>"
           class="<%= @doc_def["right_btn_class"] || "ui-btn-right" %>"
           data-icon="<%= @doc_def["right_btn_icon"] || "arrow-r" %>"
           <%= "data-direction=\"#{@doc_def["right_btn_direction"]}\"" if @doc_def["right_btn_direction"] %>
        >
          <%= @doc_def["right_btn_text"] %>
        </a>
    <% end %>
  </div>

  <div data-role="content">
    <%@content.each_line do |line|%><%= "  " + line%><%end%>
  </div>
</div>
