<li data-role="fieldcontain" <%= "class=\"#{@doc_def['field_class']}\"" if @doc_def['field_class'] %>>
  <label <%= "for=\"#{@doc_def['id']}\"" if @doc_def['id'] %>
         class="fieldLabel <%= @doc_def['label_class'] || "" %>"
  >
    <%= @doc_def['label'] %>
  </label>
  <input type="text"
        <%= "id=\"#{@doc_def['id']}\"" if @doc_def['id'] %>
        <%= "name=\"#{@doc_def['name']}\"" if @doc_def['name'] %>
        <%= "class=\"#{@doc_def['value_class']}\"" if @doc_def['value_class'] %>
        <%= "value=\"#{@doc_def['value']}\"" if @doc_def['value'] %>
        <%= "disabled" if not @doc_def['editable'].nil? and not @doc_def['editable'] %>
        <%= placeholder(@doc_def["label"]) if @doc_def['label']%>
  />
</li>